################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UnivercityDB/obj
/UnivercityDB/bin/Debug/net7.0-windows
/.vs
